h1 Signup

form(ng-submit="submit()")
  div
    label(for="username") Username
    input(type="text", id="username", name="username", ng-model="username")
  div
    label(for="email") Email
    input(type="email", id="email", name="email", ng-model="email")
  div
    label(for="password") Password
    input(type="password", id="password", name="password", ng-model="password")
  div(ng-show="message")
    p {{message}}
  div
    input(type="submit", value="Submit")