doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div.container
      div.navbar.navbar-default
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Lockit
        div.navbar-collapse.collapse
          if username
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  | #{username}
                  b.caret
                ul.dropdown-menu
                  li: a(href="/profile") Profile
                  li.divider
                  li
                    a(href="/logout")
                      span.glyphicon.glyphicon-ban-circle
                      span  Logout
      block content
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")